body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 19px;
}

h1 {
  font-family: 'Open Sans';
  font-size: 75px;
  line-height: 80px;
  color: #5BC0BE;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
