.input-text-field {
  width: 100%;
  border: 1px solid #ededed;
  padding: 8px;
  margin: 0 0 10px 0;
  outline: 0;
  font-size: 14px;
  font-weight: 100;
  color: #666666;
}

.input-text-field:focus {
  border-bottom: 2px solid #FFBF69;
}

.input-radio-field {
  padding: 0px 20px;
  margin: 10px 0px;
}

select.input-text-field {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 0px;
}

.signup-buttons {
  text-align: center;
  padding: 2px 16px;
  background-color: #ffffff;
  color: #ffffff;
}

.signup-button {
  margin: 10px;
  padding: 10px 30px;
  border: 1px solid #2EC4B6;
  border-radius: 0;
  color: #2EC4B6;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  -webkit-border-radius: 0;
}

.signup-button:hover {
  border: 1px solid #FFBF69;
  color: #FFBF69;
  text-decoration: none;
  cursor: pointer;
}
